html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
.topbar{
    height: 20px;
}
.secondbar{
    height: 100px;
}
.fullCol{
}
::-webkit-input-placeholder {
    color: #757575;
}
.radioClass {
	color: black;
}
#contentsOf {
	overflow:hidden;
}
.prefixshift {
	margin-left: 48px;
}
#subButton {
	margin-top: 20px;
}